<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>     
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />冰岩-校园点评后台管理中心</h1>
  </div>
  <div class="head-l"> &nbsp;&nbsp;<a class="button button-little bg-red" onclick="logout();"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>基本设置</h2>
  <ul style="display:block">
    <li><a href="book.html" target="right"><span class="icon-caret-right"></span>待审核信息</a></li>
    <li><a href="pass_book.html" target="right"><span class="icon-caret-right"></span>已通过审核</a></li>  
    <li><a href="unpass_book.html" target="right"><span class="icon-caret-right"></span>未通过审核</a></li>   
    <li><a href="add_store.html" target="right"><span class="icon-caret-right"></span>新增店铺</a></li> 
    <li><a href="types.html" target="right"><span class="icon-caret-right"></span>分类</a></li>  
    <li><a href="add_types.html" target="right"><span class="icon-caret-right"></span>新增分类</a></li>  
    <li><a href="tags.html" target="right"><span class="icon-caret-right"></span>标签</a></li>  
    <li><a href="add_tags.html" target="right"><span class="icon-caret-right"></span>新增标签</a></li>  
  </ul>
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
function logout(){
    var url = "/shops/backstage/logout";
    $.ajax({
        type: "POST",
        url: url,
        async:false,//同步
        cache:false,//debug的时候设置为false
        data:{},
        dataType: "json",
        success: function(data){
            if (data.status == 200){
                window.location.href = 'login.html';
            }else{
                alert(data.msg);
            }
        }
    });
}
</script>
<ul class="bread">
  <li><a href="{:U('Index/info')}" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
  <li><b>当前语言：</b><span style="color:red;">中文</php></span>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="book.html" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
<!--<p>来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>-->
</div>
</body>
</html>